---
# Stupid front matter
---
@import "normalize.scss";
@import "bourbon-master/dist/_bourbon";

/*
    Legend 
    ===========================
    0. Resets
    1. Main elements
    2. Layout components
    3. Typography
    4. Header
    5. Footer
    6. Specials
*/

/* Resets */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Main elmenets */
html {
    background: #ddd;
}
body {
    margin: auto;
    max-width: 56em;
    font: 20px/1.6 "droid serif"; 
    color: #222;
    background: #f7f7f7;
}

/* Layout components */
.outer {
    padding: 1.5rem 0;
}
.inner {
    margin: 0 auto;
    width: 90%;
    max-width: 36em;
}
img {
    border-radius: 1px;
}
img, video {
    display: block;
    max-width: 100%;
    height: auto;
}
.inline-icon {
    display: inline;
    vertical-align: middle;
}

/* Typography */
h1,h2,h3,h4,h5,ul,ol {
    margin: 1rem 0;
    font-weight: inherit;
}
h1,h2,h3 {
    a {
        color: inherit;
        &:after {
            content: " \21AC";
            color: #ddd; 
            @include transition( color .15s linear );
        }
        &:hover {
            &:after {
                color: inherit;
            }
        }
    }
}
h1, .h1 {
    font-size: 3em;
    font-family: sans-serif;
    line-height: 1.2;
    font-weight: bold;
    text-transform: none;
    letter-spacing: -1px;
    @media screen and (max-width: 600px) {
        font-size: 2em;
    }
}
h2, .h2 {
    font-size: 2em;
    font-family: sans-serif;
    line-height: 1.4;
    font-weight: bold;
    text-transform: none;
    letter-spacing: -1px;
    @media screen and (max-width: 600px) {
        font-size: 1.2em;
    }
}
h3, .h3 {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: bold;
    text-transform: none;
    letter-spacing: none;
}
a {
    text-decoration: none;
    color: #1964c1;
}
.meta {
    font-family: sans-serif;
    font-size: .8em;
    line-height: 1.75;
    color: #767676;
}
.intro {
    font-size: 1.15em;
}
.excerpt {
//    overflow: hidden;
//    display: -webkit-box;
//    -webkit-line-clamp: 4;
//    -webkit-box-orient: vertical; 
}
.in {
    &:first-line {
        font-weight: bold;
    }
}
.read-more {
    font-family: sans-serif;
    font-weight: bold;
    &:after {
        content: " \21AC";
    }
}
pre {
    padding: 1rem;
    background: #ededed;
    border-radius: 2px;
    overflow-x: auto;
    border: 1px solid #ddd;
}
table {
    th {
        text-align: left;
        @extend .h3;
    }
}

/* Header */
.site-header {
    padding: .5em 0;
    background: #fff;
    @include clearfix;
    a {
        color: #777;
    }
    h1 {
        font-size: 1em;
        line-height: inherit;
        letter-spacing: 0;
        float: left;
    }
}
.site-nav {
    font-size: 1em;
    font-family: sans-serif;
    font-weight: 300;
    ul {
        display: none;
        padding: 0;
        list-style-type: none;
        clear: both;
    }
    .nav-icon {
        margin: 1rem 0;
        float: right; 
        opacity: .3;
        &:hover {
            opacity: .5;
        }
    }
    &--open {
        ul {
            display: block;
        }
        .nav-icon {
            opacity: .5;
        }
    }
    @media screen and (min-width: 800px) {
        float: right;
        .nav-icon {
            display: none;
        }
        ul {
            display: block;
            float: left;
            margin-left: .75em;
            clear: none;
        }
        li {
            margin-left: .5em;
            display: inline;
        }
    }
    .twitter-icon {
        position: relative;
        top: -2px;
    }
}

/* Footer */
.site-footer {
    border-top: 1px solid #ddd;
}

/* Specials */
.post-list {
    padding: 0;
    list-style-type: none;
    span + h2 {
        margin-top: 0;
    }
    li {
        &:after {
            content: "";
            display: block;
            margin: 2rem 0;
            width: 15%;
            height: 2px;
            background: #ddd;
        }
    }
}
.event-list {
    padding-left: 0;
    li {
        list-style-position: inside;
    }
    &__date {
        float: right;
        @extend .meta;
    }
}
.post-thumb {
    display: block;
    float: right;
    width: 260px;
    margin: .75em 0 1.5rem 1rem;
    @media screen and (max-width: 600px) {
        float: none;
        margin: 1rem 0;
        width: auto;
    }
}
