---
# Stupid front matter
---
@import "normalize.scss";
@import "bourbon-master/dist/_bourbon";

/*
    Legend 
    ===========================
    0. Resets
    1. Main elements
    2. Layout components
    3. Typography
    4. Header
    5. Footer
    6. Specials
*/

/* Resets */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Main elmenets */
html {
    background: #f7f7f7;
}
body {
    font: 20px/1.6 "droid serif"; 
    color: #222;
}

/* Layout components */
.outer {
    padding: 1rem 0;
}
.inner {
    margin: 0 auto;
    width: 90%;
    max-width: 36em;
}
img {
    display: block;
    max-width: 100%;
}
.inline-icon {
    display: inline;
    vertical-align: middle;
}

/* Typography */
h1,h2,h3,h4,h5,ul,ol {
    margin: 1rem 0;
    font-weight: inherit;
}
h1, .h1 {
    font-size: 3em;
    font-family: sans-serif;
    line-height: 1.2;
    font-weight: bold;
    text-transform: none;
    letter-spacing: -1px;
    @media screen and (max-width: 600px) {
        font-size: 2em;
    }
}
h2, .h2 {
    font-size: 1.6em;
    font-family: sans-serif;
    line-height: 1.4;
    font-weight: bold;
    text-transform: none;
    letter-spacing: none;
    @media screen and (max-width: 600px) {
        font-size: 1.2em;
    }
}
h3, .h3 {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: bold;
    text-transform: none;
    letter-spacing: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.meta {
    font-family: sans-serif;
    font-size: .8em;
    line-height: 1.75;
    color: #767676;
}
.intro {
    font-size: 1.15em;
}
.in {
    &:first-line {
        font-weight: bold;
    }
}
pre {
    padding: 1rem;
    background: #ededed;
    border-radius: 2px;
    overflow-x: auto;
    border: 1px solid #ddd;
}
table {
    th {
        text-align: left;
        @extend .h3;
    }
}

/* Header */
.site-header {
    padding: .5em 0;
    background: #fff;
    @include clearfix;
    a {
        color: #777;
    }
    h1 {
        float: left;
        font-size: 1em;
        line-height: inherit;
        letter-spacing: 0;
    }
    nav {
        float: right;
        font-size: 1em;
        font-family: sans-serif;
        font-weight: 300;
        ul {
            float: left;
            margin-left: .75em;
            padding: 0;
            list-style-type: none;
        }
        li {
            margin-left: .5em;
            display: inline;
        }
    }
    .twitter-icon {
        position: relative;
        top: -2px;
    }
}

/* Footer */
.site-footer {
    border-top: 1px solid #ddd;
}

/* Specials */
.post-list {
    padding: 0;
    list-style-type: none;
    span + h2 {
        margin-top: 0;
    }
    li {
        &:after {
            content: "";
            display: block;
            margin: 1rem 0;
            width: 25%;
            height: 3px;
            background: #ccc;
        }
    }
}
.event-list {
    padding-left: 0;
    li {
        list-style-position: inside;
    }
    &__date {
        float: right;
        @extend .meta;
    }
}
