---
layout: default
---

<div class="outer">
    <div class="inner">

      <div class="about-box">
	<img src="/img/paczuski.JPG" alt="Paul" class="about-avatar-small"">
        <p class="small">
I like to work at the intersection of data science and design thinking. <br><a href="http://twitter.com/pavopax/">Twitter</a> &bullet; <a href="https://github.com/pavopax">GitHub</a> &bullet; <a href="http://stackoverflow.com/users/3217870/pavopax">StackOverflow</a> &bullet; </a><a href="https://www.linkedin.com/in/paczuski">LinkedIn</a>
	</p>
        </div>

        <hr>

        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                <!--<span class="meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                {% if post.custom_excerpt %}
                    <p class="excerpt">{{ post.custom_excerpt | strip_html }} <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
                {% else %}
                    <p class="excerpt">{{ post.excerpt | strip_html }} <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
                {% endif %}
                {% if post.excerpt_image %}
                    <img src="{{ site.uploadsurl }}{{ post.excerpt_image }}"{% if post.excerpt_image_width %} width="{{ post.excerpt_image_width }}"{% endif %}{% if post.excerpt_image_height %} height="{{ post.excerpt_image_height }}"{% endif %}>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
