---
layout: default
---

<div class="outer">
    <div class="inner">
        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                <!--<span class="meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                {% if post.custom_excerpt %}
                    <p class="excerpt">{{ post.custom_excerpt | strip_html }} <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
                {% else %}
                    <p class="excerpt">{{ post.excerpt | strip_html }} <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
                {% endif %}
                {% if post.excerpt_image %}
                    <img class="-post-thumb" src="{{ site.uploadsurl }}{{ post.excerpt_image }}">
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <p class="meta rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
</div>
