<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:"index.html","" | prepend: site.baseurl | prepend: site.url }}">
</head>
<body>
    <header class="site-header" role="banner">
        <div class="inner">
            <h1><a href="/">Pawel Paczuski</a></h1>
            <nav class="site-nav" role="navigation">

                <svg arial-label="Meny" tabindex="0" class="inline-icon nav-icon" width="36px" height="28px" viewBox="0 0 36 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g fill="#000">
                        <rect x="0" y="0" width="36" height="6" rx="1"></rect>
                        <rect x="0" y="11" width="36" height="6" rx="1"></rect>
                        <rect x="0" y="22" width="36" height="6" rx="1"></rect>
                    </g>
                </svg>
                <ul>
                    {% for page in site.pages | sort: order %}
                        {% if page.title %}
                            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
