---
layout: default
---
<div class="outer">
    <div class="inner">

        <h1>{{ page.title }}</h1>
        <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        {{ content }}

        <ul class="reading-list">
            {% assign reading = site.reading %}
            {% for book in reading reversed %}
                <li>
                    <a href="{{ book.link }}">{{ book.title }}</a>
                    <span class="reading-list__date">{{ book.date | date: "%B, %Y" }}</span>
                    <span class="reading-list__rating">
                        {% for item in (1..book.rating) %}★{% endfor %}
                    </span>
                </li>
            {% endfor %}
        </ul>

    </div>
</div>
