---
layout: default
---
<div class="outer">
    <div class="inner">

        <h1>{{ page.title }}</h1>
        <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        {{ content }}

        <ul class="event-list">
            {% assign trips = site.trips %}
            {% for trip in trips reversed %}
                <li>{{ trip.title }} <span class="event-list__date">{{ trip.date | date: "%B, %Y" }}</span></li>
            {% endfor %}
        </ul>

    </div>
</div>
